.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: var(--poppins);
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  color: var(--blue);
  font-size: 24px;
}

.createButton {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.createButton:hover {
  opacity: 0.5;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid var(--dark-grey);
}

.table th {
  background-color: var(--dark-grey);
  color: #fff;
}

.table tbody tr:hover {
  background-color: var(--grey);
}

.activeRow {
  background-color: var(--light-green);
}

.inactiveRow {
  background-color: var(--light-orange);
}

.editButton,
.toggleButton {
  background-color: transparent;
  color: var(--blue);
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.editButton:hover,
.toggleButton:hover {
  opacity: 0.6;
}

.toggleButton {
  background-color: transparent;
  color: var(--red);
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.toggleButton i {
  margin-right: 5px;
}

.toggleButton span {
  margin-right: 5px;
}
.btnActive {
  color: var(--dark-green);
}
