/* Estilos para el contenedor principal */
.citaciones-container {
  background-color: #aed9e0;
  background-image: linear-gradient(315deg, #aed9e0 0%, #6d96d0 74%);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 14px; /* Reducimos el tamaño de fuente general */
}

.form-wrapper.active {
  background-color: #2c8de7;
}

/* Estilos para el formulario dentro de .form-wrapper */
.form-wrapper.active form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px; /* Reducimos el tamaño de fuente */
}

.citaciones-container h2 {
  font-size: 1.8rem; /* Reducimos el tamaño de fuente */
  text-align: center;
  color: #dddada;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para la lista de citas */
.citas-list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cita-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cita-content {
  flex: 1;
}

.cita-item h3 {
  font-size: 1.2rem; /* Reducimos el tamaño de fuente */
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.cita-item .barra.separadora {
  margin: 10px -5px;
  border-bottom: 5px solid #0f5ef1;
}

.cita-item p {
  font-size: 0.9rem; /* Reducimos el tamaño de fuente */
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cita-item p:last-child {
  margin-bottom: 0;
}

/* Estilos para mover la imagen a la derecha */
.imagen-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.imagen-comunicado,
.imagen-entrevista {
  width: 250px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-left: 15px;
}

/* Estilos para los botones */
button.edit-button,
.buttons-container button,
.form-container button[type="submit"],
.form-container .button button {
  padding: 8px 16px; /* Reducimos el padding de los botones */
  margin-right: 10px;
  background-color: #14bce6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem; /* Reducimos el tamaño de fuente de los botones */
}

button.delete-button,
.cancel-button,
.form-container button.cancel-button,
.form-container .button.quit button {
  padding: 8px 16px; /* Reducimos el padding de los botones */
  margin-right: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem; /* Reducimos el tamaño de fuente de los botones */
}

button.edit-button:hover,
.buttons-container button:hover,
.form-container button[type="submit"]:hover,
.form-container .button button:hover {
  background-color: #530ff1;
}

button.delete-button:hover,
.cancel-button:hover,
.form-container button.cancel-button:hover,
.form-container .button.quit button:hover {
  background-color: #c82333;
}

button.edit-button:focus,
.buttons-container button:focus,
.form-container button[type="submit"]:focus,
.form-container .button button:focus {
  outline: none;
}

button.delete-button:focus,
.cancel-button:focus,
.form-container button.cancel-button:focus,
.form-container .button.quit button:focus {
  outline: none;
}

/* Estilos para el formulario flotante */
.form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  width: 90%;
  max-width: 600px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.form-wrapper.active,
.overlay.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.form-container .button {
  display: flex;
  align-items: center;
}

.form-container .button button {
  padding: 6px 15px;
  background-color: #2042dd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.9rem; /* Reducimos el tamaño de la fuente */
  transition: background-color 0.3s ease;
}

.form-wrapper.active button {
  padding: 6px 15px;
  background-color: #14bce6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem; /* Reducimos el tamaño de fuente */
}

.form-wrapper.active button.quitar {
  background-color: #dc3545;
}

.form-wrapper.active button:hover {
  background-color: #530ff1;
}

.form-wrapper.active button.quitar:hover {
  background-color: #c82333;
}

.form-container .button button:focus {
  outline: none;
}

.form-container .cursos-list .curso-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px; /* Reducir el margen inferior */
  font-size: 0.9rem; /* Reducir el tamaño de fuente */
}

.form-container .cursos-list .curso-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px; /* Reducir el margen inferior */
  font-size: 0.9rem; /* Reducir el tamaño de fuente */
}

.form-container .cursos-list .curso-item label {
  margin-right: 3px; /* Reducir el margen derecho */
}

.form-container .cursos-list .curso-item .curso-description {
  width: 100%;
  margin-top: 3px; /* Reducir el margen superior */
}



/* Estilos para el formulario de Citación a Cursos */
.form-container .cursos-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container .cursos-list .curso-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Reducir el margen inferior */
  font-size: 0.9rem; /* Reducir el tamaño de fuente */
}

.form-container .cursos-list .curso-item label {
  margin-right: 5px; /* Reducir el margen derecho */
}

/* Ajustes para los checkbox */
.form-wrapper.active .cursos-list .curso-item input[type="checkbox"] {
  width: 20px; /* Ajustar el ancho del checkbox */
  height: 20px; /* Ajustar la altura del checkbox */
  margin-right: 5px; /* Espacio entre el checkbox y el label */
}

.form-wrapper.active .cursos-list .curso-item label {
  font-size: 0.9rem; /* Ajustar el tamaño del texto del label */
  margin-right: 5px; /* Espacio entre el checkbox y el label */
  vertical-align: middle; /* Alinear el texto verticalmente con el checkbox */
}

.form-container .cursos-list .curso-item .curso-description {
  width: 100%;
  margin-top: 5px;
}

/* Estilos para el formulario de Entrevista a Estudiante(s) */
.form-container .busca-est li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; /* Reducir el padding */
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.form-container .busca-est li .student-info .student-name {
  font-weight: bold;
  font-size: 0.9rem; /* Tamaño más pequeño para el nombre del estudiante */
  margin-right: 5px;
}

.form-container .busca-est li .button {
  margin-left: 5px; /* Reducir el margen izquierdo */
}

.form-container .busca-est li .button button {
  padding: 4px 8px; /* Reducir el padding */
  font-size: 0.8rem; /* Tamaño más pequeño para los botones */
}

.form-container .busca-est li:last-child {
  border-bottom: none; /* Eliminar el borde inferior del último elemento */
}

/* Estilos generales */
.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.9rem; /* Tamaño más pequeño para los labels */
}

.form-container input,
.form-container textarea,
.form-wrapper.active form textarea {
  width: 100%;
  padding: 20px; /* Tamaño más pequeño para los inputs */
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem; /* Tamaño más pequeño para los inputs */
  color: #333;
  margin-top: 5px;
  min-height: 500px; /* Aumentar la altura mínima del textarea */
}

.form-container input[type="checkbox"] {
  margin-right: 5px;
}

/* Ajustes adicionales */
.form-container .cursos-list .curso-item input[type="checkbox"],
.form-container .busca-est li .button button {
  margin-left: 10px;
}

.form-container .cursos-list .curso-item .curso-description,
.form-container .busca-est li .student-info {
  width: 100%;
  margin-top: 5px;
}
/* Estilos para el formulario flotante */
.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-wrapper form div {
  margin-bottom: 10px;
  width: 100%; /* Ajuste de ancho */
  display: flex;
  flex-direction: column;
}

.form-wrapper form label {
  flex: 1; /* El label ocupará 1/3 del espacio */
  text-align: left;
  margin-right: 10px;
  color: #495057;
  font-weight: bold;
}

.form-wrapper form input,
.form-wrapper form textarea {
  flex: 2; /* El input ocupará 2/3 del espacio */
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Ajuste de fuente */
  font-size: 1rem; /* Ajuste de tamaño de fuente */
  color: #333; /* Ajuste de color de fuente */
}

.form-wrapper form input[type="text"]:focus,
.form-wrapper form textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilos para los botones en línea */
.form-wrapper form .button-container {
  display: flex;
  flex-direction: row; /* Cambia a 'column' para alinearlos uno encima del otro */
  justify-content: flex-end;
  margin-top: 20px;
}

.form-wrapper form .button-container button {
  padding: 8px 16px; /* Reducimos el padding para botones */
  background-color: #14bce6; /* Verde */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem; /* Tamaño de fuente */
  margin-right: 10px; /* Espacio entre botones */
  min-width: fit-content; /* Ajuste para que el ancho sea según el contenido */
}

.form-wrapper form .button-container button.cancel-button {
  background-color: #dc3545; /* Rojo */
  padding: 8px 12px; /* Reducimos el padding para el botón de cancelar */
  font-size: 0.9rem; /* Tamaño de fuente */
}

.form-wrapper form .button-container button:hover {
  background-color: #530ff1; /* Verde más oscuro */
}

.form-wrapper form .button-container button.cancel-button:hover {
  background-color: #b90416; /* Rojo más oscuro */
}

.form-wrapper form .button-container button:focus {
  outline: none;
}
/* Ajustes generales */
.form-container,
.form-wrapper {
  font-size: 14px; /* Reducimos el tamaño de fuente general */
}

.form-wrapper.active label {
  font-weight: bold; /* Ponemos las etiquetas en negrita */
}

.form-wrapper.active input,
.form-wrapper.active textarea {
  font-size: 0.9rem; /* Reducimos el tamaño de fuente de los inputs */
  padding: 6px; /* Reducimos el padding de los inputs */
}

/* Ajustes para los botones */
button.edit-button,
.buttons-container button,
.form-container button[type="submit"],
.form-container .button button,
.form-wrapper.active button,
.form-wrapper form .button-container button {
  padding: 8px 16px; /* Reducimos el padding de los botones */
  font-size: 0.9rem; /* Reducimos el tamaño de fuente de los botones */
}

/* Ajustes para los inputs y textarea dentro de .form-wrapper */
.form-wrapper.active form input,
.form-wrapper.active form textarea {
  font-size: 0.9rem; /* Reducimos el tamaño de fuente */
  padding: 6px; /* Reducimos el padding */
}

/* Ajustes para evitar que los inputs se vean borrosos */
.form-wrapper.active form input,
.form-wrapper.active form textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ajustes para el contenedor principal de los cursos */
.busc-cursos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Ajustes para cada elemento de curso */
.busc-cursos > div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px; /* Ajustar el margen inferior entre los elementos */
}

/* Ajustes para los checkbox */
.busc-cursos input[type="checkbox"] {
  width: 50px; /* Ajustar el ancho del checkbox */
  height: 50px; /* Ajustar la altura del checkbox */
  margin-right: 10px; /* Espacio entre el checkbox y el label */
}

/* Ajustes para los labels */
.busc-cursos label {
  font-size: 1.2rem; /* Ajustar el tamaño del texto del label */
}
