/* Estilos generales */
.cursos-container {
  background-color: #aed9e0;
  background-image: linear-gradient(315deg, #aed9e0 0%, #6d96d0 74%);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.cursos-container h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.panel-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.panel-buttons button {
  padding: 12px 24px;
  background-color: #2042dd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.panel-buttons button:hover {
  background-color: #1a16e7;
}

.panel-buttons button:focus {
  outline: none;
}

.cursos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Aumentamos el ancho mínimo */
  gap: 20px;
}

.curso-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px; /* Aumentamos el padding para hacer los elementos más grandes */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.curso-item h3 {
  font-size: 2rem; /* Aumentamos el tamaño de la fuente */
  margin-bottom: 15px; /* Reducimos el margen inferior */
}

.curso-item p {
  color: #000000;
  font-size: 1.5rem; /* Ajustamos el tamaño de la fuente */
}

.curso-item > div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.curso-item button {
  padding: 12px 24px; /* Aumentamos el padding de los botones */
  background-color: #2042dd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.curso-item button:hover {
  background-color: #1a16e7;
}

.curso-item button:focus {
  outline: none;
}

.section-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.section-container h3 {
  font-size: 1.8rem;
  color: #007bff;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-container button {
  padding: 12px 24px;
  background-color: #2042dd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.section-container button:hover {
  background-color: #1a16e7;
}

.section-container button:focus {
  outline: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form > input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.modal form > button {
  padding: 14px 28px;
  background-color: #2042dd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.modal form > button:hover {
  background-color: #1a16e7;
}

.modal form > button:focus {
  outline: none;
}

.modal form > button:last-child {
  background-color: #6c757d;
  margin-left: 10px;
}

.modal form > button:last-child:hover {
  background-color: #5a6268;
}

.modal form > button:last-child:focus {
  outline: none;
}

@media (max-width: 768px) {
  .panel-buttons {
    flex-wrap: wrap;
  }

  .panel-buttons button {
    margin-bottom: 10px;
  }

  .cursos-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .modal {
    width: 90%;
    padding: 20px;
  }
}

.linea {
  border-bottom: 20px solid #ffffff; /* Establece una línea horizontal sólida de color gris claro */
  margin: 10px 0; /* Ajusta el margen según sea necesario */
  border-radius: 50px;
}
