/* Estilos generales */
.profesores-container {
    background-color: #aed9e0;
    background-image: linear-gradient(315deg, #aed9e0 0%, #6d96d0 74%);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #333;
  }
  
  .profesores-container h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .lista-profesores {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .profesores-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profesores-table th,
  .profesores-table td {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
  }
  
  .profesores-container {
    font-family: 'Arial', sans-serif;
  }
  
  .lista-profesores {
    margin-top: 20px;
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .profesores-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profesores-table th {
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto blanco */
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  .profesores-table th,
  .profesores-table td {
    border-bottom: 1px solid #dee2e6; /* Borde gris claro */
    padding: 12px;
  }
  
  .profesores-table td {
    vertical-align: middle;
  }
  
  .profesores-table tbody tr:hover {
    background-color: #f2f2f2; /* Fondo gris claro al pasar el cursor */
  }
  
  .agregar-profesor-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #28a745; /* Verde */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .agregar-profesor-button:hover {
    background-color: #218838; /* Verde más oscuro al pasar el cursor */
  }
  
  .agregar-profesor-button:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    .profesores-table th,
    .profesores-table td {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  .agregar-profesor-button {
    background-color: #2042dd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .agregar-profesor-button:hover {
    background-color: #1a16e7;
  }
  
  /* Estilos para el modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); /* Sombra */
  }
  
  .modal-content h3 {
    color: #007bff; /* Azul */
    border-bottom: 1px solid #dee2e6; /* Línea gris claro */
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content form > div {
    margin-bottom: 20px;
  }
  
  .modal-content form > div label {
    margin-bottom: 5px;
    color: #495057; /* Color de texto gris oscuro */
    font-weight: bold;
  }
  
  .modal-content form input[type="text"],
  .modal-content form input[type="email"],
  .modal-content form select,
  .modal-content form input[type="checkbox"],
  .modal-content form input[type="date"],
  .modal-content form input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da; /* Borde gris */
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .modal-content form input[type="password"]:focus,
  .modal-content form input[type="text"]:focus,
  .modal-content form input[type="email"]:focus,
  .modal-content form select:focus,
  .modal-content form input[type="checkbox"]:focus,
  .modal-content form input[type="date"]:focus {
    border-color: #007bff; /* Borde azul al enfocar */
    outline: none; /* Quitar outline */
  }
  
  .switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .switch-label {
    margin-right: 20px;
    color: #495057; /* Color de texto gris oscuro */
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .button {
    padding: 14px 28px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cancelar-button {
    padding: 14px 28px;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .cancelar-button:hover {
    background-color: #5a6268;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:focus,
  .cancelar-button:focus {
    outline: none;
  }
  
  /* Estilos para los botones eliminar y editar */
  .icon-button {
    padding: 8px 16px; /* Aumenta el padding para hacer los botones más grandes */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacio entre los botones */
    border-radius: 50px; /* Bordes redondeados */
  }
  
  .edit-button {
    background-color: #1085ec; /* Color gris */
    color: #ffffff; /* Texto blanco */
    border-radius: 50px;
  }
  
  .delete-button {
    background-color: #dc3545; /* Rojo */
    color: #ffffff; /* Texto blanco */
    border-radius: 50px;
  }
  
  .icon-button:hover {
    opacity: 0.8;
  }
  
  .icon-button i {
    margin-right: 5px;
  }
  
  .action-column {
    white-space: nowrap; /* Evita que los botones se dividan en múltiples líneas */
  }
  
  /* Estilos para los títulos de las ventanas flotantes */
  .modal-content h3 {
    color: #007bff; /* Azul */
    border-bottom: 1px solid #dee2e6; /* Línea gris claro */
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center; /* Alineación centrada */
    font-weight: bold; /* Negrita */
    font-size: 2rem; /* Tamaño del título */
  }
  
  /* Estilos adicionales para los botones */
  .button {
    padding: 14px 28px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cancelar-button {
    padding: 14px 28px;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .cancelar-button:hover {
    background-color: #5a6268;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:focus,
  .cancelar-button:focus {
    outline: none;
  }
  
  /* Estilos para la barra de búsqueda */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    position: relative; /* Añadido para posicionar el ícono correctamente */
  }
  
  .search-input {
    padding: 8px 30px 8px 10px; /* Ajuste del padding para el ícono */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    flex: 0 0 auto; /* Ajuste para que el input no ocupe todo el ancho */
    width: 250px; /* Ajuste del ancho del input */
  }
  
  .search-input::placeholder {
    color: #aaa; /* Color del placeholder */
  }
  
  .icon-search {
    cursor: pointer;
    color: #007bff; /* Color azul, puedes ajustarlo según tu preferencia */
    position: absolute;
    right: 10px; /* Posición del ícono a la derecha */
    top: 50%; /* Alineación vertical centrada */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    background: transparent;
    border: none;
  }
  
  .icon-search i {
    font-size: 18px; /* Tamaño del ícono */
  }
  
  .search-button {
    cursor: pointer;
    background-color: #007bff; /* Color azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Color azul más oscuro al hacer hover */
  }
  
  .linea {
    border-bottom: 20px solid #ffffff; /* Establece una línea horizontal sólida de color gris claro */
    margin: 10px 0; /* Ajusta el margen según sea necesario */
    border-radius: 50px;
  }
  